body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: antiquewhite;
    font-family: cursive;
    text-align: center;
}

h4{
    position: absolute;
    bottom:1px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.stats-container{
    margin: 20px;
    border: dotted green;
    min-width: 300px;
    height: 200px;
    position:relative;
    padding: 20px;
}
.icon{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}


.counter{
    font-size: 54px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color:green;
    top: 30%;
}




@media (max-width:600px) {
    body {
        flex-direction: column;
    }

    .icon{
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

   
}